name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    defaults:
      run:
        working-directory: crates

    steps:
    - uses: actions/checkout@v4
    - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
    - name: Build mouse telemetry
      run: cargo build -p mouse-telemetry --release --verbose
    - name: Build mouse collection environment
      run: cargo build -p mouse-collection-environment --release --verbose
